In [1]:
import json
import requests
from pandas import json_normalize
import pandas as pd

In [2]:
#json files: 10000 tweets each data set

df_who_raw = pd.read_json(path_or_buf='./data/tw_user_who', lines=True) # since 06.02.2020
df_who_raw.tail()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
19995,snscrape.modules.twitter.Tweet,https://twitter.com/WHO/status/122553245284586...,2020-02-06 21:31:20+00:00,"WHO will use the Shipping Fund Programme, esta...","WHO will use the Shipping Fund Programme, esta...",1225532452845867008,"{'_type': 'snscrape.modules.twitter.User', 'us...",13,50,99,...,1.225532e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",None,NaN,NaN,[2019nCoV],NaN,None,NaN,NaN
19996,snscrape.modules.twitter.Tweet,https://twitter.com/WHO/status/122553207397855...,2020-02-06 21:29:50+00:00,WHO and partners have activated a network of l...,WHO and partners have activated a network of l...,1225532073978552327,"{'_type': 'snscrape.modules.twitter.User', 'us...",9,72,97,...,1.225531e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",None,NaN,NaN,[2019nCoV],NaN,None,NaN,NaN
19997,snscrape.modules.twitter.Tweet,https://twitter.com/WHO/status/122553133163712...,2020-02-06 21:26:53+00:00,15 laboratories have been identified to provid...,15 laboratories have been identified to provid...,1225531331637129216,"{'_type': 'snscrape.modules.twitter.User', 'us...",137,480,898,...,NaN,None,None,NaN,NaN,[2019nCoV],NaN,None,NaN,NaN
19998,snscrape.modules.twitter.Tweet,https://twitter.com/WHO/status/122552455216546...,2020-02-06 20:59:57+00:00,@pahowho @WHO_Europe @WHOEMRO @WHOAFRO @WHOSEA...,@pahowho @WHO_Europe @WHOEMRO @WHOAFRO @WHOSEA...,1225524552165462016,"{'_type': 'snscrape.modules.twitter.User', 'us...",2,67,150,...,1.225505e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",NaN,NaN,"[depression, LetsTalk, TimeToTalk]",NaN,None,NaN,NaN
19999,snscrape.modules.twitter.Tweet,https://twitter.com/WHO/status/122550488699489...,2020-02-06 19:41:48+00:00,#Depression is not a sign of weakness.\n\n#Let...,#Depression is not a sign of weakness.\n\n#Let...,1225504886994894850,"{'_type': 'snscrape.modules.twitter.User', 'us...",7,183,389,...,1.225473e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",None,NaN,NaN,"[Depression, LetsTalk, TimeToTalk]",NaN,None,NaN,NaN

In [3]:
df_pfizer_raw= pd.read_json(path_or_buf='./data/tw_user_pfizer', lines=True) #since 29.9.2010
df_pfizer_raw.tail()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
9995,snscrape.modules.twitter.Tweet,https://twitter.com/pfizer/status/26635437619,2010-10-07 10:05:37+00:00,Pfizer #Oncology to present new clinical data ...,Pfizer #Oncology to present new clinical data ...,26635437619,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,6,3,...,NaN,None,None,None,None,[Oncology],None,None,NaN,NaN
9996,snscrape.modules.twitter.Tweet,https://twitter.com/pfizer/status/26565090456,2010-10-06 16:12:56+00:00,Pfizer to review strategic alternatives for Ca...,Pfizer to review strategic alternatives for Ca...,26565090456,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,3,0,...,NaN,None,None,None,None,None,None,None,NaN,NaN
9997,snscrape.modules.twitter.Tweet,https://twitter.com/pfizer/status/26394609085,2010-10-04 20:59:09+00:00,"If you are on Facebook, check out this campaig...","If you are on Facebook, check out this campaig...",26394609085,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,6,2,...,NaN,None,None,None,None,[chronicpain],None,None,NaN,NaN
9998,snscrape.modules.twitter.Tweet,https://twitter.com/pfizer/status/26384917380,2010-10-04 18:10:24+00:00,"Pfizer offers first 500,000 consumers free Adv...","Pfizer offers first 500,000 consumers free Adv...",26384917380,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,11,1,...,NaN,None,None,None,None,None,None,None,NaN,NaN
9999,snscrape.modules.twitter.Tweet,https://twitter.com/pfizer/status/25906284672,2010-09-29 18:21:18+00:00,How can we improve math and science education?...,How can we improve math and science education?...,25906284672,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,1,...,NaN,None,None,None,None,None,None,None,NaN,NaN

In [4]:
df_cdc_raw= pd.read_json(path_or_buf='./data/tw_user_CDCgov', lines=True) #since 21.4.2018
df_cdc_raw.tail()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
9995,snscrape.modules.twitter.Tweet,https://twitter.com/CDCgov/status/988447736881...,2018-04-23 16:01:19+00:00,Upcoming Facebook Live: NEW “We Were There” se...,Upcoming Facebook Live: NEW “We Were There” se...,988447736881188864,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,10,7,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN
9996,snscrape.modules.twitter.Tweet,https://twitter.com/CDCgov/status/988432448882...,2018-04-23 15:00:34+00:00,It’s National Infant Immunization Week!\n\nHer...,It’s National Infant Immunization Week!\n\nHer...,988432448882184193,"{'_type': 'snscrape.modules.twitter.User', 'us...",2,237,244,...,NaN,None,None,NaN,NaN,"[ivax2protect, NIIW]",NaN,None,NaN,NaN
9997,snscrape.modules.twitter.Tweet,https://twitter.com/CDCgov/status/988100212773...,2018-04-22 17:00:23+00:00,Do you or someone you know have a backyard flo...,Do you or someone you know have a backyard flo...,988100212773326848,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,63,77,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN
9998,snscrape.modules.twitter.Tweet,https://twitter.com/CDCgov/status/988085379130...,2018-04-22 16:01:26+00:00,Do your children get enough #sleep? Use these ...,Do your children get enough #sleep? Use these ...,988085379130675201,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,76,75,...,NaN,None,None,NaN,NaN,"[sleep, kids]",NaN,None,NaN,NaN
9999,snscrape.modules.twitter.Tweet,https://twitter.com/CDCgov/status/987722728118...,2018-04-21 16:00:24+00:00,Outbreak Alert: Throw away ALL store-bought r...,Outbreak Alert: Throw away ALL store-bought r...,987722728118607872,"{'_type': 'snscrape.modules.twitter.User', 'us...",27,734,396,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN

In [5]:
df_ecdc_EU_raw= pd.read_json(path_or_buf='./data/tw_user_ECDC_EU', lines=True) #since 20.10.2010
df_ecdc_EU_raw.tail()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
5746,snscrape.modules.twitter.Tweet,https://twitter.com/ECDC_EU/status/28388456193,2010-10-22 09:33:48+00:00,Register to #ESCAIDE or the European Scientifi...,Register to #ESCAIDE or the European Scientifi...,28388456193,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,"[ESCAIDE, ECDC]",NaN,None,NaN,NaN
5747,snscrape.modules.twitter.Tweet,https://twitter.com/ECDC_EU/status/28387080823,2010-10-22 09:05:58+00:00,Join our discussion on the future of #vaccinol...,Join our discussion on the future of #vaccinol...,28387080823,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,"[vaccinology, Eurovaccine]",NaN,None,NaN,NaN
5748,snscrape.modules.twitter.Tweet,https://twitter.com/ECDC_EU/status/27913975303,2010-10-20 09:00:25+00:00,Experts Rally To Get European Commitment To Ha...,Experts Rally To Get European Commitment To Ha...,27913975303,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[ECDC],NaN,None,NaN,NaN
5749,snscrape.modules.twitter.Tweet,https://twitter.com/ECDC_EU/status/27909786369,2010-10-20 07:23:26+00:00,#ECDC is organising #ESCAIDE on 11-13 Nov in L...,#ECDC is organising #ESCAIDE on 11-13 Nov in L...,27909786369,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,"[ECDC, ESCAIDE, Twitter]",NaN,None,NaN,NaN
5750,snscrape.modules.twitter.Tweet,https://twitter.com/ECDC_EU/status/27909248996,2010-10-20 07:10:35+00:00,Read the latest measles surveillance for 2nd q...,Read the latest measles surveillance for 2nd q...,27909248996,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,None,NaN,None,NaN,NaN

In [6]:
df_Africa_cdc_raw= pd.read_json(path_or_buf='./data/tw_user_AfricaCDC', lines=True) #since 7.4.2016
df_Africa_cdc_raw.tail()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
4475,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/721550450...,2016-04-17 04:06:47+00:00,On World Health Workers Day @_AfricanUnion Cel...,On World Health Workers Day @_AfricanUnion Cel...,721550450575740928,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,2,2,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,[AUonEbola],NaN,None,NaN,NaN
4476,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/721013247...,2016-04-15 16:32:08+00:00,With increased travel disease threats cn sprea...,With increased travel disease threats cn sprea...,721013247038603268,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,NaN,None,NaN,NaN
4477,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/720896715...,2016-04-15 08:49:05+00:00,Disease is a threat we can do something about....,Disease is a threat we can do something about....,720896715943911424,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,NaN,None,NaN,NaN
4478,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/720850183...,2016-04-15 05:44:11+00:00,#Ebola has proven it's time to reinforce our p...,#Ebola has proven it's time to reinforce our p...,720850183676821505,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,[Ebola],NaN,None,NaN,NaN
4479,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/718017930...,2016-04-07 10:09:49+00:00,Establishment of the Africa Center for Disease...,Establishment of the Africa Center for Disease...,718017930064183296,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,3,2,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,NaN,None,NaN,NaN

In [30]:
df_EMA_raw= pd.read_json(path_or_buf='./data/tw_user_EMA_News', lines=True) #since 7.4.2016
df_EMA_raw.tail()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
9002,snscrape.modules.twitter.Tweet,https://twitter.com/EMA_News/status/9631613421,2010-02-25 16:04:09+00:00,Monthly report from the February CHMP meeting....,Monthly report from the February CHMP meeting....,9631613421,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN
9003,snscrape.modules.twitter.Tweet,https://twitter.com/EMA_News/status/9569622510,2010-02-24 09:51:04+00:00,European Medicines Agency launches public cons...,European Medicines Agency launches public cons...,9569622510,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN
9004,snscrape.modules.twitter.Tweet,https://twitter.com/EMA_News/status/9553065847,2010-02-24 01:21:41+00:00,EMA and Swissmedic H1N1 pandemic medicines agr...,EMA and Swissmedic H1N1 pandemic medicines agr...,9553065847,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN
9005,snscrape.modules.twitter.Tweet,https://twitter.com/EMA_News/status/9521267699,2010-02-23 11:07:08+00:00,European Medicines Agency update on pandemic i...,European Medicines Agency update on pandemic i...,9521267699,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN
9006,snscrape.modules.twitter.Tweet,https://twitter.com/EMA_News/status/9521255438,2010-02-23 11:06:36+00:00,Meeting highlights from the CHMP 15-18 Februar...,Meeting highlights from the CHMP 15-18 Februar...,9521255438,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,NaN,NaN,None,NaN,None,NaN,NaN

In [9]:
df_Africa_cdc_raw.rawContent[4479]

'Establishment of the Africa Center for Disease Control @AfricaCDC was endorsed by African Heads of State and Government in January 2015'

In [21]:
#who tweets go back to 06.02.2020 so get the tweets from other sources since 6th of febr 2020
#df_Africa_cdc_date= df_Africa_cdc_raw.query("Dates >= "[:(df_Africa_cdc_raw.date== "2020-02-07")]
start_date= "2020-02-06"
df_Africa_cdc_date = df_Africa_cdc_raw[df_Africa_cdc_raw.date >= start_date]
#df.query('Dates >= @start_date and Dates <= @end_date')
df_Africa_cdc_date.tail()

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
3350,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122538828...,2020-02-06 11:58:27+00:00,@WHO stated clearly that they should be no res...,@WHO stated clearly that they should be no res...,1225388283024244737,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,9,11,...,1.225388e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,NaN,None,NaN,NaN
3351,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122538827...,2020-02-06 11:58:27+00:00,{…} We need to have a coordinated approach in ...,{…} We need to have a coordinated approach in ...,1225388279899590657,"{'_type': 'snscrape.modules.twitter.User', 'us...",7,37,60,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,"[Coronavirus, 2019nCoV, FactsNotFear]",NaN,None,NaN,NaN
3352,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122538358...,2020-02-06 11:39:47+00:00,AFRICAN PUBLIC HEALTH STRATEGY FOCUSES ON RAPI...,AFRICAN PUBLIC HEALTH STRATEGY FOCUSES ON RAPI...,1225383583621271553,"{'_type': 'snscrape.modules.twitter.User', 'us...",2,31,62,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,"[Coronavirus, FactsNotFear]",NaN,None,NaN,NaN
3353,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122536807...,2020-02-06 10:38:10+00:00,@AfricaCDC Director @JNkengasong speaks to @Al...,@AfricaCDC Director @JNkengasong speaks to @Al...,1225368077375868928,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,13,17,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,[2019_nCov],NaN,None,NaN,NaN
3354,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122535952...,2020-02-06 10:04:11+00:00,https://t.co/i3KbaCoHrZ https://t.co/OjT4A0siMr,africacdc.org/press-centre/n… https://t.co/OjT...,1225359523298365441,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,7,10,...,NaN,None,None,None,None,None,NaN,None,NaN,NaN

In [70]:
df_Africa_cdc_raw.columns

Index(['_type', 'url', 'date', 'rawContent', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links',
       'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'cashtags', 'card', 'viewCount', 'vibe'],
      dtype='object')

In [149]:
df_cdc_raw.renderedContent

0       CDC's Public Health Associate Program (PHAP) h...
1       The entire family can build healthy habits tog...
2       .@CareersatCDC invites you to join the Intervi...
3       HCPs: Guide parents to credible information ab...
4       #DYK? Cavities are the most common chronic dis...
                              ...
9995    Upcoming Facebook Live: NEW “We Were There” se...
9996    It’s National Infant Immunization Week!\n\nHer...
9997    Do you or someone you know have a backyard flo...
9998    Do your children get enough #sleep? Use these ...
9999    Outbreak Alert:  Throw away ALL store-bought r...
Name: renderedContent, Length: 10000, dtype: object

In [ ]:
df_Africa_cdc_raw.viewCount

0        3065.0
1        2044.0
2        2438.0
3       13213.0
4        3728.0
         ...
4475        NaN
4476        NaN
4477        NaN
4478        NaN
4479        NaN
Name: viewCount, Length: 4480, dtype: float64

In [98]:
df_Africa_cdc_raw.card

0       None
1       None
2       None
3       None
4       None
        ...
4475    None
4476    None
4477    None
4478    None
4479    None
Name: card, Length: 4480, dtype: object

In [100]:
df_Africa_cdc_raw.quotedTweet.iloc[4:50] #none values, can be dropped

4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
15    None
16    None
17    None
18    None
19    None
20    None
21    None
22    None
23    None
24    None
25    None
26    None
27    None
28    None
29    None
30    None
31    None
32    None
33    None
34    None
35    None
36    None
37    None
38    None
39    None
40    None
41    None
42    None
43    None
44    None
45    None
46    None
47    None
48    None
49    None
Name: quotedTweet, dtype: object

In [126]:
df_cdc_raw.inReplyToUser

0       None
1       None
2       None
3       None
4       None
        ...
9995    None
9996    None
9997    None
9998    None
9999    None
Name: inReplyToUser, Length: 10000, dtype: object

In [122]:
df_Africa_cdc_raw.rawContent[0]

'@AfricaCDC acting Director held a bilateral meeting with the Secretary General of the #Norwegian #RedCross. They discussed existing engagements on pushing the agenda of Community Health Workers on the continent.\n#NewPublicHealthOrder #Partnerships @ifrc @IFRCAfrica https://t.co/hJmzqiT3WV'

In [95]:
df_Africa_cdc_raw.cashtags.isnull().sum()

4480

In [97]:
df_Africa_cdc_raw.retweetedTweet
df_who_raw.retweetedTweet.isnull().sum() #This whole column is null so it can be dropped

20000

In [90]:
df_Africa_cdc_raw.retweetedTweet.isnull().sum()

4480

In [86]:
df_Africa_cdc_raw.media.loc[0]

[{'_type': 'snscrape.modules.twitter.Photo',
  'previewUrl': 'https://pbs.twimg.com/media/Fpe4ec1WYAA9Er0?format=jpg&name=small',
  'fullUrl': 'https://pbs.twimg.com/media/Fpe4ec1WYAA9Er0?format=jpg&name=large',
  'altText': None},
 {'_type': 'snscrape.modules.twitter.Photo',
  'previewUrl': 'https://pbs.twimg.com/media/Fpe4eeyXEAIBCN2?format=jpg&name=small',
  'fullUrl': 'https://pbs.twimg.com/media/Fpe4eeyXEAIBCN2?format=jpg&name=large',
  'altText': None},
 {'_type': 'snscrape.modules.twitter.Photo',
  'previewUrl': 'https://pbs.twimg.com/media/Fpe4eexXoAAVmsG?format=jpg&name=small',
  'fullUrl': 'https://pbs.twimg.com/media/Fpe4eexXoAAVmsG?format=jpg&name=large',
  'altText': None}]

In [84]:
df_Africa_cdc_raw.links.loc[4475]

[{'_type': 'snscrape.modules.twitter.TextLink',
  'text': 'au.int/en/pressreleas…',
  'url': 'http://www.au.int/en/pressreleases/29541/world-health-workers-day-african-union-celebrates-aseowa-health-workers',
  'tcourl': 'https://t.co/L3LBkLKpW7',
  'indices': [76, 99]}]

In [81]:
df_Africa_cdc_raw.inReplyToUser.loc[1]

{'_type': 'snscrape.modules.twitter.User',
 'username': 'AfricaCDC',
 'id': 3149176301,
 'displayname': 'Africa CDC',
 'rawDescription': '@AfricaCDC is a technical institution of the @_AfricanUnion strengthening the capacity of Member States to respond quickly and effectively to disease threats.',
 'renderedDescription': '@AfricaCDC is a technical institution of the @_AfricanUnion strengthening the capacity of Member States to respond quickly and effectively to disease threats.',
 'descriptionLinks': None,
 'verified': True,
 'created': '2015-04-08T20:09:53+00:00',
 'followersCount': 144164,
 'friendsCount': 4933,
 'statusesCount': 6434,
 'favouritesCount': 5119,
 'listedCount': 683,
 'mediaCount': 2922,
 'location': 'Addis Ababa, Ethiopia',
 'protected': False,
 'link': {'_type': 'snscrape.modules.twitter.TextLink',
  'text': 'africacdc.org',
  'url': 'http://www.africacdc.org',
  'tcourl': 'https://t.co/sVkqpRBLWc',
  'indices': [0, 23]},
 'profileImageUrl': 'https://pbs.twimg.com/profile_images/732141942360965120/b71U6Xcn_normal.jpg',
 'profileBannerUrl': 'https://pbs.twimg.com/profile_banners/3149176301/1644355059',
 'label': None,
 'url': 'https://twitter.com/AfricaCDC'}

In [117]:
test_afr_drop_df= df_Africa_cdc_raw.drop(["url","source", "sourceUrl","card","sourceLabel", "media", "cashtags", "quotedTweet"], axis=1)
test_afr_drop_df.columns

Index(['_type', 'date', 'rawContent', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'links', 'retweetedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'viewCount', 'vibe'],
      dtype='object')

In [191]:
#create dictionary with all data to make for loops for cleaning

df_dict= {"Africa_CDC":df_Africa_cdc_raw, "ECDC_EU":df_ecdc_EU_raw, "Pfizer":df_pfizer_raw, "EMA": df_EMA_raw, "cdc": df_cdc_raw, "who":df_who_raw}
new_df_dict={}
start_date= "2020-02"
for user,df in df_dict.items():
    new_df_dict[f"{user}"]=df[df.date >= start_date]
    #new_df_dict[f"{user}_{start_date}_dropped"]=df.drop(["url","source", "sourceUrl","card","sourceLabel", "media", "cashtags", "quotedTweet"], axis=1)#These are the columns that don't have any useful info

In [192]:
new_df_dict.keys()

dict_keys(['Africa_CDC', 'ECDC_EU', 'Pfizer', 'EMA', 'cdc', 'who'])

In [193]:
drop_df_dict={}

for user,df in new_df_dict.items():
    drop_df_dict[f"{user}_dropped"]=df.drop(["url","source", "sourceUrl","card","sourceLabel", "media", "cashtags", "quotedTweet"], axis=1)

In [175]:
#divide dates in weeks

datae

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,coordinates,place,hashtags,cashtags,card,viewCount,vibe,year,month,day
0,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/162797265...,2023-02-21 10:05:01+00:00,@AfricaCDC acting Director held a bilateral me...,@AfricaCDC acting Director held a bilateral me...,1627972652236259330,"{'_type': 'snscrape.modules.twitter.User', 'us...",2,7,37,...,None,None,"[Norwegian, RedCross, NewPublicHealthOrder, Pa...",NaN,None,3065.0,NaN,2023,2,21
1,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/162760026...,2023-02-20 09:25:16+00:00,The @AfricaCDC's partnership forum will also i...,The @AfricaCDC's partnership forum will also i...,1627600262591381504,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,9,21,...,None,None,"[Awareness, Opportunities, Partnership]",NaN,None,2044.0,NaN,2023,2,20
2,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/162760025...,2023-02-20 09:25:15+00:00,The forum aims to convey the #Vision and way f...,The forum aims to convey the #Vision and way f...,1627600257763639297,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,8,21,...,None,None,"[Vision, Institution, Coordination]",NaN,None,2438.0,NaN,2023,2,20
3,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/162760025...,2023-02-20 09:25:14+00:00,The second @AfricaCDC Partnership Forum is hap...,The second @AfricaCDC Partnership Forum is hap...,1627600252743127040,"{'_type': 'snscrape.modules.twitter.User', 'us...",3,36,122,...,None,None,"[HQ, Foundations, Partners, NewPublicHealthOrd...",NaN,None,13213.0,NaN,2023,2,20
4,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/162700610...,2023-02-18 18:04:18+00:00,https://t.co/peetd7XDTS,https://t.co/peetd7XDTS,1627006104113754112,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,3,14,...,None,None,None,NaN,None,3728.0,NaN,2023,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3353,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122536807...,2020-02-06 10:38:10+00:00,@AfricaCDC Director @JNkengasong speaks to @Al...,@AfricaCDC Director @JNkengasong speaks to @Al...,1225368077375868928,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,13,17,...,None,None,[2019_nCov],NaN,None,NaN,NaN,2020,2,6
3354,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122535952...,2020-02-06 10:04:11+00:00,https://t.co/i3KbaCoHrZ https://t.co/OjT4A0siMr,africacdc.org/press-centre/n… https://t.co/OjT...,1225359523298365441,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,7,10,...,None,None,None,NaN,None,NaN,NaN,2020,2,6
3355,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122492440...,2020-02-05 05:15:11+00:00,@JNkengasong @ausocialaffairs @_AfricanUnion @...,@JNkengasong @ausocialaffairs @_AfricanUnion @...,1224924407505784832,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,11,11,...,None,None,None,NaN,None,NaN,NaN,2020,2,5
3356,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122492171...,2020-02-05 05:04:29+00:00,Update on the ongoing Novel Coronavirus (2019-...,Update on the ongoing Novel Coronavirus (2019-...,1224921717010829314,"{'_type': 'snscrape.modules.twitter.User', 'us...",2,60,100,...,None,None,"[Coronavirus, 2019nCoV, FactsNotFear]",NaN,None,NaN,NaN,2020,2,5
3357,snscrape.modules.twitter.Tweet,https://twitter.com/AfricaCDC/status/122472566...,2020-02-04 16:05:27+00:00,Safety measures against #CoronaViruesue from @...,Safety measures against #CoronaViruesue from @...,1224725666077270016,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,41,58,...,None,None,"[CoronaViruesue, FactsNotFear]",NaN,None,NaN,NaN,2020,2,4

In [195]:
df_ECDC_EU_clean= drop_df_dict["ECDC_EU_dropped"]
df_Africa_CDC_clean=drop_df_dict["Africa_CDC_dropped"]
df_pfizer_clean=drop_df_dict["Pfizer_dropped"]
df_EMA_clean=drop_df_dict["EMA_dropped"]
df_cdc_clean=drop_df_dict["cdc_dropped"]
df_who_clean=drop_df_dict["who_dropped"]

In [196]:
drop_df_dict.keys()

dict_keys(['Africa_CDC_dropped', 'ECDC_EU_dropped', 'Pfizer_dropped', 'EMA_dropped', 'cdc_dropped', 'who_dropped'])

In [203]:
filt1_ECDC_EU

,_type,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,inReplyToUser,mentionedUsers,coordinates,place,hashtags,viewCount,vibe,year,month,day
17,snscrape.modules.twitter.Tweet,2023-02-06 18:29:26+00:00,The measures can be adjusted when the period o...,The measures can be adjusted when the period o...,1622663777161289736,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,11,1,...,"{'_type': 'snscrape.modules.twitter.User', 'us...",None,None,None,"[influenza, COVID19]",2182.0,NaN,2023,2,6
21,snscrape.modules.twitter.Tweet,2023-02-06 18:29:24+00:00,We recommend healthcare facilities maintain &...,We recommend healthcare facilities maintain &...,1622663767933833216,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,4,0,...,"{'_type': 'snscrape.modules.twitter.User', 'us...",None,None,None,"[SARSCoV2, influenza, RSV]",785.0,NaN,2023,2,6
32,snscrape.modules.twitter.Tweet,2023-01-13 14:23:45+00:00,#JustPublished!\nThreat Assessment Brief: Impl...,#JustPublished!\nThreat Assessment Brief: Impl...,1613904638176120834,"{'_type': 'snscrape.modules.twitter.User', 'us...",3,46,67,13,...,None,None,None,None,"[JustPublished, SARSCoV2, Omicron, COVID19]",47384.0,NaN,2023,1,13
34,snscrape.modules.twitter.Tweet,2023-01-05 16:46:11+00:00,#ECDC assessment of the XBB.1.5 sub-lineage.\n...,#ECDC assessment of the XBB.1.5 sub-lineage.\n...,1611041382520471552,"{'_type': 'snscrape.modules.twitter.User', 'us...",13,38,64,5,...,None,None,None,None,"[ECDC, COVID19, XBB15]",22743.0,NaN,2023,1,5
36,snscrape.modules.twitter.Tweet,2023-01-03 08:47:16+00:00,A surge in cases in China is not expected to i...,A surge in cases in China is not expected to i...,1610196082092564482,"{'_type': 'snscrape.modules.twitter.User', 'us...",2,35,71,10,...,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,[COVID19],18206.0,NaN,2023,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,snscrape.modules.twitter.Tweet,2020-02-14 12:23:03+00:00,Today's update on #COVID19:\n\n▪ 64 544 cases\...,Today's update on #COVID19:\n\n▪ 64 544 cases\...,1228293575068114944,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,34,31,4,...,None,None,None,None,[COVID19],NaN,NaN,2020,2,14
2273,snscrape.modules.twitter.Tweet,2020-02-13 13:32:29+00:00,Today's update on #COVID19:\n\n▪ 60330 cases**...,Today's update on #COVID19:\n\n▪ 60330 cases**...,1227948661956628480,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,25,18,2,...,None,None,None,None,[COVID19],NaN,NaN,2020,2,13
2274,snscrape.modules.twitter.Tweet,2020-02-13 10:40:59+00:00,➡ Are some people more at risk than others? 👴👵...,➡ Are some people more at risk than others? 👴👵...,1227905502836928512,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,28,19,0,...,None,None,None,None,"[COVID19, FAQ]",NaN,NaN,2020,2,13
2275,snscrape.modules.twitter.Tweet,2020-02-13 09:02:23+00:00,#ECDC Director - Andrea Ammon takes part in to...,#ECDC Director - Andrea Ammon takes part in to...,1227880687644151809,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,16,27,1,...,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,"[ECDC, EPSCO, COVID19, LIVE]",NaN,NaN,2020,2,13
2276,snscrape.modules.twitter.Tweet,2020-02-12 14:16:32+00:00,Name changes as of yesterday - established by ...,Name changes as of yesterday - established by ...,1227597357660942336,"{'_type': 'snscrape.modules.twitter.User', 'us...",4,101,105,19,...,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,"[nCoV2019, nCoV2019, COVID19, SARSCoV2]",NaN,NaN,2020,2,12

In [290]:
#filter data for "Covid19" in the ECDC_EU tweets
import re

filt1_ECDC_EU=df_ECDC_EU_clean[df_ECDC_EU_clean["rawContent"].str.contains("SarsCov2|covid|covid19", flags=re.IGNORECASE)]

ECDC_EU_filt_grpd= filt1_ECDC_EU.groupby([(filt1_ECDC_EU.date.dt.year), (filt1_ECDC_EU.date.dt.month)])["id"].count()#.reset_index()
#filt1_ECDC_EU.groupby()
ECDC_EU_filt_grpd=ECDC_EU_filt_grpd.rename_axis(["year", "month"]).reset_index()
ECDC_EU_filt_grpd.rename(columns={"id": "covid_count"}, inplace=True)
#df.rename(columns={'id' : 'covid_count'}, inplace=True)
ECDC_EU_filt_grpd.head()

   year  month  covid_count
0  2020      2           28
1  2020      3           69
2  2020      4           59
3  2020      5           58
4  2020      6           41

In [291]:
def join_dates(x):
    return f"{str(x['year'])}-{str(x['month'])}"
    
ECDC_EU_filt_grpd['year'] = ECDC_EU_filt_grpd.apply(join_dates, axis=1)
ECDC_EU_filt_grpd.drop("month", axis=1, inplace=True)
ECDC_EU_filt_grpd.rename(columns={"year": "date"}, inplace=True)
ECDC_EU_filt_grpd.head()

     date  covid_count
0  2020-2           28
1  2020-3           69
2  2020-4           59
3  2020-5           58
4  2020-6           41

In [292]:
df_ECDC_EU_clean_grpd= df_ECDC_EU_clean.groupby([(df_ECDC_EU_clean.date.dt.year), (df_ECDC_EU_clean.date.dt.month)])["id"].count()#.reset_index()
#filt1_ECDC_EU.groupby()
df_ECDC_EU_clean_grpd=df_ECDC_EU_clean_grpd.rename_axis(["year", "month"]).reset_index()
df_ECDC_EU_clean_grpd.rename(columns={"id": "total_tweets"}, inplace=True)
df_ECDC_EU_clean_grpd.head()

   year  month  total_tweets
0  2020      2           101
1  2020      3           198
2  2020      4            82
3  2020      5            88
4  2020      6            65

In [293]:
df_ECDC_EU_clean_grpd['year'] = df_ECDC_EU_clean_grpd.apply(join_dates, axis=1)
df_ECDC_EU_clean_grpd.drop("month", axis=1, inplace=True)
df_ECDC_EU_clean_grpd.rename(columns={"year": "date"}, inplace=True)
df_ECDC_EU_clean_grpd.head()
ECDC_EU_filt_grpd.head()

     date  covid_count
0  2020-2           28
1  2020-3           69
2  2020-4           59
3  2020-5           58
4  2020-6           41

In [294]:
df_ECDC_EU_clean_grpd.head()

     date  total_tweets
0  2020-2           101
1  2020-3           198
2  2020-4            82
3  2020-5            88
4  2020-6            65

In [295]:
ECDC_EU = pd.merge(ECDC_EU_filt_grpd, df_ECDC_EU_clean_grpd, on='date')
ECDC_EU

       date  covid_count  total_tweets
0    2020-2           28           101
1    2020-3           69           198
2    2020-4           59            82
3    2020-5           58            88
4    2020-6           41            65
5    2020-7           42            57
6    2020-8           41            54
7    2020-9           48            64
8   2020-10           53           117
9   2020-11           54            70
10  2020-12           52            83
11   2021-1           18            27
12   2021-2           25            82
13   2021-3           22            58
14   2021-4           38            62
15   2021-5           33            78
16   2021-6           43            88
17   2021-7           43            91
18   2021-8           34            81
19   2021-9           28            61
20  2021-10           26            54
21  2021-11           48            88
22  2021-12           35            48
23   2022-1           18            38
24   2022-2           23            38
25   2022-3           20            60
26   2022-4           13            56
27   2022-5           14            47
28   2022-6           18            51
29   2022-7           27            68
30   2022-9            3            20
31  2022-10            5            29
32  2022-11            2            25
33  2022-12            4            29
34   2023-1            6            17
35   2023-2            2            23

In [296]:
def percentage(x):
    return x["covid_count"] / x['total_tweets']

ECDC_EU['covid_percentage'] = ECDC_EU.apply(percentage, axis=1)

In [297]:
ECDC_EU

       date  covid_count  total_tweets  covid_percentage
0    2020-2           28           101          0.277228
1    2020-3           69           198          0.348485
2    2020-4           59            82          0.719512
3    2020-5           58            88          0.659091
4    2020-6           41            65          0.630769
5    2020-7           42            57          0.736842
6    2020-8           41            54          0.759259
7    2020-9           48            64          0.750000
8   2020-10           53           117          0.452991
9   2020-11           54            70          0.771429
10  2020-12           52            83          0.626506
11   2021-1           18            27          0.666667
12   2021-2           25            82          0.304878
13   2021-3           22            58          0.379310
14   2021-4           38            62          0.612903
15   2021-5           33            78          0.423077
16   2021-6           43            88          0.488636
17   2021-7           43            91          0.472527
18   2021-8           34            81          0.419753
19   2021-9           28            61          0.459016
20  2021-10           26            54          0.481481
21  2021-11           48            88          0.545455
22  2021-12           35            48          0.729167
23   2022-1           18            38          0.473684
24   2022-2           23            38          0.605263
25   2022-3           20            60          0.333333
26   2022-4           13            56          0.232143
27   2022-5           14            47          0.297872
28   2022-6           18            51          0.352941
29   2022-7           27            68          0.397059
30   2022-9            3            20          0.150000
31  2022-10            5            29          0.172414
32  2022-11            2            25          0.080000
33  2022-12            4            29          0.137931
34   2023-1            6            17          0.352941
35   2023-2            2            23          0.086957

In [298]:
#filter ECDC_EU tweets for flu word


flu_ECDC_EU=df_ECDC_EU_clean[df_ECDC_EU_clean["rawContent"].str.contains("flu", flags=re.IGNORECASE)]

flu_ECDC_EU_group= flu_ECDC_EU.groupby([(flu_ECDC_EU.date.dt.year), (flu_ECDC_EU.date.dt.month)])["id"].count()#.reset_index()
#filt1_ECDC_EU.groupby()
flu_ECDC_EU_group=flu_ECDC_EU_group.rename_axis(["year", "month"]).reset_index()
flu_ECDC_EU_group.rename(columns={"id": "flu_count"}, inplace=True)
#df.rename(columns={'id' : 'covid_count'}, inplace=True)
flu_ECDC_EU_group.head()

   year  month  flu_count
0  2020      2          4
1  2020      5          1
2  2020     10          2
3  2020     11          1
4  2021      5          1

In [299]:
flu_ECDC_EU_group['year'] = flu_ECDC_EU_group.apply(join_dates, axis=1)
flu_ECDC_EU_group.drop("month", axis=1, inplace=True)
flu_ECDC_EU_group.rename(columns={"year": "date"}, inplace=True)
flu_ECDC_EU_group

       date  flu_count
0    2020-2          4
1    2020-5          1
2   2020-10          2
3   2020-11          1
4    2021-5          1
5    2021-7          2
6   2021-10         16
7   2021-11          1
8    2022-1          1
9    2022-2          1
10   2022-3          2
11   2022-4          2
12   2022-7          3
13  2022-10          4
14  2022-12          4
15   2023-1          1
16   2023-2          2

In [300]:
ECDC_EU.head()

     date  covid_count  total_tweets  covid_percentage
0  2020-2           28           101          0.277228
1  2020-3           69           198          0.348485
2  2020-4           59            82          0.719512
3  2020-5           58            88          0.659091
4  2020-6           41            65          0.630769

In [301]:
#merge df to ECDC_EU:
ECDC_EU = pd.merge(ECDC_EU,flu_ECDC_EU_group, on='date', how='left').fillna(0)
ECDC_EU

       date  covid_count  total_tweets  covid_percentage  flu_count
0    2020-2           28           101          0.277228        4.0
1    2020-3           69           198          0.348485        0.0
2    2020-4           59            82          0.719512        0.0
3    2020-5           58            88          0.659091        1.0
4    2020-6           41            65          0.630769        0.0
5    2020-7           42            57          0.736842        0.0
6    2020-8           41            54          0.759259        0.0
7    2020-9           48            64          0.750000        0.0
8   2020-10           53           117          0.452991        2.0
9   2020-11           54            70          0.771429        1.0
10  2020-12           52            83          0.626506        0.0
11   2021-1           18            27          0.666667        0.0
12   2021-2           25            82          0.304878        0.0
13   2021-3           22            58          0.379310        0.0
14   2021-4           38            62          0.612903        0.0
15   2021-5           33            78          0.423077        1.0
16   2021-6           43            88          0.488636        0.0
17   2021-7           43            91          0.472527        2.0
18   2021-8           34            81          0.419753        0.0
19   2021-9           28            61          0.459016        0.0
20  2021-10           26            54          0.481481       16.0
21  2021-11           48            88          0.545455        1.0
22  2021-12           35            48          0.729167        0.0
23   2022-1           18            38          0.473684        1.0
24   2022-2           23            38          0.605263        1.0
25   2022-3           20            60          0.333333        2.0
26   2022-4           13            56          0.232143        2.0
27   2022-5           14            47          0.297872        0.0
28   2022-6           18            51          0.352941        0.0
29   2022-7           27            68          0.397059        3.0
30   2022-9            3            20          0.150000        0.0
31  2022-10            5            29          0.172414        4.0
32  2022-11            2            25          0.080000        0.0
33  2022-12            4            29          0.137931        4.0
34   2023-1            6            17          0.352941        1.0
35   2023-2            2            23          0.086957        2.0

In [303]:
ECDC_EU["flu_percentage"]=ECDC_EU["flu_count"]/ECDC_EU["total_tweets"]

In [304]:
ECDC_EU

,date,covid_count,total_tweets,covid_percentage,flu_count,flu_percentage
0,2020-2,28,101,0.277228,4.0,0.039604
1,2020-3,69,198,0.348485,0.0,0.000000
2,2020-4,59,82,0.719512,0.0,0.000000
3,2020-5,58,88,0.659091,1.0,0.011364
4,2020-6,41,65,0.630769,0.0,0.000000
5,2020-7,42,57,0.736842,0.0,0.000000
6,2020-8,41,54,0.759259,0.0,0.000000
7,2020-9,48,64,0.750000,0.0,0.000000
8,2020-10,53,117,0.452991,2.0,0.017094
9,2020-11,54,70,0.771429,1.0,0.014286
10,2020-12,52,83,0.626506,0.0,0.000000
11,2021-1,18,27,0.666667,0.0,0.000000
12,2021-2,25,82,0.304878,0.0,0.000000
13,2021-3,22,58,0.379310,0.0,0.000000
14,2021-4,38,62,0.612903,0.0,0.000000
15,2021-5,33,78,0.423077,1.0,0.012821
16,2021-6,43,88,0.488636,0.0,0.000000
17,2021-7,43,91,0.472527,2.0,0.021978
18,2021-8,34,81,0.419753,0.0,0.000000
19,2021-9,28,61,0.459016,0.0,0.000000
20,2021-10,26,54,0.481481,16.0,0.296296
21,2021-11,48,88,0.545455,1.0,0.011364
22,2021-12,35,48,0.729167,0.0,0.000000
23,2022-1,18,38,0.473684,1.0,0.026316
24,2022-2,23,38,0.605263,1.0,0.026316
25,2022-3,20,60,0.333333,2.0,0.033333
26,2022-4,13,56,0.232143,2.0,0.035714
27,2022-5,14,47,0.297872,0.0,0.000000
28,2022-6,18,51,0.352941,0.0,0.000000
29,2022-7,27,68,0.397059,3.0,0.044118
30,2022-9,3,20,0.150000,0.0,0.000000
31,2022-10,5,29,0.172414,4.0,0.137931
32,2022-11,2,25,0.080000,0.0,0.000000
33,2022-12,4,29,0.137931,4.0,0.137931
34,2023-1,6,17,0.352941,1.0,0.058824
35,2023-2,2,23,0.086957,2.0,0.086957

In [307]:
#filter ECDC_EU tweets for monkeypox/Mpox word


mpox_ECDC_EU=df_ECDC_EU_clean[df_ECDC_EU_clean["rawContent"].str.contains("Mpox|monkeypox", flags=re.IGNORECASE)]

mpox_ECDC_EU_group= mpox_ECDC_EU.groupby([(mpox_ECDC_EU.date.dt.year), (mpox_ECDC_EU.date.dt.month)])["id"].count()#.reset_index()
#filt1_ECDC_EU.groupby()
mpox_ECDC_EU_group=mpox_ECDC_EU_group.rename_axis(["year", "month"]).reset_index()
mpox_ECDC_EU_group.rename(columns={"id": "mpox_count"}, inplace=True)
#df.rename(columns={'id' : 'covid_count'}, inplace=True)
mpox_ECDC_EU_group.head()

   year  month  mpox_count
0  2022      5           6
1  2022      6          15
2  2022      7          10
3  2022      8           4
4  2022      9           1

In [308]:
#put year and month in one column
mpox_ECDC_EU_group['year'] = mpox_ECDC_EU_group.apply(join_dates, axis=1)
mpox_ECDC_EU_group.drop("month", axis=1, inplace=True)
mpox_ECDC_EU_group.rename(columns={"year": "date"}, inplace=True)
mpox_ECDC_EU_group

      date  mpox_count
0   2022-5           6
1   2022-6          15
2   2022-7          10
3   2022-8           4
4   2022-9           1
5  2022-10           1
6  2022-11           1
7  2022-12           1

In [309]:
#merge monkeypox into ECDC_EU dataframe

ECDC_EU = pd.merge(ECDC_EU,mpox_ECDC_EU_group, on='date', how='left').fillna(0)
ECDC_EU

,date,covid_count,total_tweets,covid_percentage,flu_count,flu_percentage,mpox_count
0,2020-2,28,101,0.277228,4.0,0.039604,0.0
1,2020-3,69,198,0.348485,0.0,0.000000,0.0
2,2020-4,59,82,0.719512,0.0,0.000000,0.0
3,2020-5,58,88,0.659091,1.0,0.011364,0.0
4,2020-6,41,65,0.630769,0.0,0.000000,0.0
5,2020-7,42,57,0.736842,0.0,0.000000,0.0
6,2020-8,41,54,0.759259,0.0,0.000000,0.0
7,2020-9,48,64,0.750000,0.0,0.000000,0.0
8,2020-10,53,117,0.452991,2.0,0.017094,0.0
9,2020-11,54,70,0.771429,1.0,0.014286,0.0
10,2020-12,52,83,0.626506,0.0,0.000000,0.0
11,2021-1,18,27,0.666667,0.0,0.000000,0.0
12,2021-2,25,82,0.304878,0.0,0.000000,0.0
13,2021-3,22,58,0.379310,0.0,0.000000,0.0
14,2021-4,38,62,0.612903,0.0,0.000000,0.0
15,2021-5,33,78,0.423077,1.0,0.012821,0.0
16,2021-6,43,88,0.488636,0.0,0.000000,0.0
17,2021-7,43,91,0.472527,2.0,0.021978,0.0
18,2021-8,34,81,0.419753,0.0,0.000000,0.0
19,2021-9,28,61,0.459016,0.0,0.000000,0.0
20,2021-10,26,54,0.481481,16.0,0.296296,0.0
21,2021-11,48,88,0.545455,1.0,0.011364,0.0
22,2021-12,35,48,0.729167,0.0,0.000000,0.0
23,2022-1,18,38,0.473684,1.0,0.026316,0.0
24,2022-2,23,38,0.605263,1.0,0.026316,0.0
25,2022-3,20,60,0.333333,2.0,0.033333,0.0
26,2022-4,13,56,0.232143,2.0,0.035714,0.0
27,2022-5,14,47,0.297872,0.0,0.000000,6.0
28,2022-6,18,51,0.352941,0.0,0.000000,15.0
29,2022-7,27,68,0.397059,3.0,0.044118,10.0
30,2022-9,3,20,0.150000,0.0,0.000000,1.0
31,2022-10,5,29,0.172414,4.0,0.137931,1.0
32,2022-11,2,25,0.080000,0.0,0.000000,1.0
33,2022-12,4,29,0.137931,4.0,0.137931,1.0
34,2023-1,6,17,0.352941,1.0,0.058824,0.0
35,2023-2,2,23,0.086957,2.0,0.086957,0.0

In [312]:
ECDC_EU["mpox_percentage"]=ECDC_EU["mpox_count"]/ECDC_EU["total_tweets"]
ECDC_EU.head()

,date,covid_count,total_tweets,covid_percentage,flu_count,flu_percentage,mpox_count,mpox_percentage
0,2020-2,28,101,0.277228,4.0,0.039604,0.0,0.0
1,2020-3,69,198,0.348485,0.0,0.000000,0.0,0.0
2,2020-4,59,82,0.719512,0.0,0.000000,0.0,0.0
3,2020-5,58,88,0.659091,1.0,0.011364,0.0,0.0
4,2020-6,41,65,0.630769,0.0,0.000000,0.0,0.0

In [315]:
def get_covid_tweet_counts(df):
    df_filt=df[df["rawContent"].str.contains("SarsCov2|covid|covid19", flags=re.IGNORECASE)]
    df_grpd= df_filt.groupby([(df_filt.date.dt.year), (df_filt.date.dt.month)])["id"].count()#.reset_index()
    df_grpd=df_grpd.rename_axis(["year", "month"]).reset_index()
    df_grpd.rename(columns={"id": "covid_count"}, inplace=True)
    return df_grpd

In [316]:
def get_total_tweet_count(df):
    df_total= df.groupby([(df.date.dt.year), (df.date.dt.month)])["id"].count()#.reset_index()
    df_total=df_total.rename_axis(["year", "month"]).reset_index()
    df_total.rename(columns={"id": "total_tweets"}, inplace=True)
    return df_total

In [314]:
df_ECDC_EU_clean_grpd.head()

     date  total_tweets
0  2020-2           101
1  2020-3           198
2  2020-4            82
3  2020-5            88
4  2020-6            65

In [360]:
def date_in_one_column(df_grpd):#or use df_total if this is done at the total tweets
    if not df_grpd.shape[0]==0:
        
        df_grpd['year'] = df_grpd.apply(join_dates, axis=1)
    df_grpd.drop("month", axis=1, inplace=True)
    df_grpd.rename(columns={"year": "date"}, inplace=True)
    return df_grpd

In [332]:
def merge_to_total(df_total,df_grpd):
    df_merged = pd.merge(df_total,df_grpd, on='date',how='left').fillna(0)
    return df_merged

In [319]:
def get_flu_tweet_counts(df):
    df_filt=df[df["rawContent"].str.contains("flu", flags=re.IGNORECASE)]
    df_grpd= df_filt.groupby([(df_filt.date.dt.year), (df_filt.date.dt.month)])["id"].count()#.reset_index()
    df_grpd=df_grpd.rename_axis(["year", "month"]).reset_index()
    df_grpd.rename(columns={"id": "flu_count"}, inplace=True)
    return df_grpd

In [320]:
def get_mpox_tweet_counts(df):
    df_filt=df[df["rawContent"].str.contains("Mpox|monkeypox", flags=re.IGNORECASE)]
    df_grpd= df_filt.groupby([(df_filt.date.dt.year), (df_filt.date.dt.month)])["id"].count()#.reset_index()
    df_grpd=df_grpd.rename_axis(["year", "month"]).reset_index()
    df_grpd.rename(columns={"id": "mpox_count"}, inplace=True)
    return df_grpd

In [359]:
df_pfizer_clean.shape[0]

1911

In [ ]:
def

In [ ]:
df_grpd_Africa_covid=date_in_one_column(get_covid_tweet_counts(df_Africa_CDC_clean))

In [ ]:
df_grpd_Africa_total=date_in_one_column(get_total_tweet_count(df_Africa_CDC_clean))

In [ ]:
df_merged_Africa=merge_to_total(df_grpd_Africa_total,df_grpd_Africa_covid)

In [339]:
df_merged_Africa.head()

     date  total_tweets  covid_count
0  2020-2            85           15
1  2020-3           114           78
2  2020-4           126          110
3  2020-5           149          121
4  2020-6           143          101

In [336]:
df_grpd_Africa_flu=date_in_one_column(get_flu_tweet_counts(df_Africa_CDC_clean))

In [ ]:
df_grpd_Africa_flu

In [340]:
df_merged_Africa=merge_to_total(df_merged_Africa,df_grpd_Africa_flu)

In [341]:
df_merged_Africa

       date  total_tweets  covid_count  flu_count
0    2020-2            85           15        0.0
1    2020-3           114           78        0.0
2    2020-4           126          110        1.0
3    2020-5           149          121        0.0
4    2020-6           143          101        0.0
5    2020-7            60           47        0.0
6    2020-8           100           80        0.0
7    2020-9           108           97        0.0
8   2020-10            96           59        0.0
9   2020-11           102           33        0.0
10  2020-12           112           91        0.0
11   2021-1            96           79        0.0
12   2021-2           122           86        0.0
13   2021-3           123           73        4.0
14   2021-4            94           35        0.0
15   2021-5            36           16        0.0
16   2021-6            53           34        0.0
17   2021-7           100           82        0.0
18   2021-8            77           51        0.0
19   2021-9           121           57        0.0
20  2021-10            74           36        0.0
21  2021-11            96           30        0.0
22  2021-12           163           65        1.0
23   2022-1            18            8        0.0
24   2022-2            49           14        0.0
25   2022-3            77           14        0.0
26   2022-4            50           12        0.0
27   2022-5            43            6        1.0
28   2022-6            42            7        0.0
29   2022-7            56           11        1.0
30   2022-8            82           25        0.0
31   2022-9           149           27        1.0
32  2022-10            82           18        1.0
33  2022-11           115           19        0.0
34  2022-12           147           12        0.0
35   2023-1            25           10        0.0
36   2023-2            73            8        0.0

In [348]:
df_grpd_Africa_mpox=date_in_one_column(get_mpox_tweet_counts(df_Africa_CDC_clean))

In [349]:
df_grpd_Africa_mpox

      date  mpox_count
0   2022-6           1
1   2022-7           1
2   2022-9           2
3  2022-10           1
4  2022-12           1

In [350]:
df_merged_Africa=merge_to_total(df_merged_Africa,df_grpd_Africa_mpox)

In [347]:
df_merged_Africa

       date  total_tweets  covid_count  flu_count  mpox_count
0    2020-2            85           15        0.0         0.0
1    2020-3           114           78        0.0         0.0
2    2020-4           126          110        1.0         0.0
3    2020-5           149          121        0.0         0.0
4    2020-6           143          101        0.0         0.0
5    2020-7            60           47        0.0         0.0
6    2020-8           100           80        0.0         0.0
7    2020-9           108           97        0.0         0.0
8   2020-10            96           59        0.0         0.0
9   2020-11           102           33        0.0         0.0
10  2020-12           112           91        0.0         0.0
11   2021-1            96           79        0.0         0.0
12   2021-2           122           86        0.0         0.0
13   2021-3           123           73        4.0         0.0
14   2021-4            94           35        0.0         0.0
15   2021-5            36           16        0.0         0.0
16   2021-6            53           34        0.0         0.0
17   2021-7           100           82        0.0         0.0
18   2021-8            77           51        0.0         0.0
19   2021-9           121           57        0.0         0.0
20  2021-10            74           36        0.0         0.0
21  2021-11            96           30        0.0         0.0
22  2021-12           163           65        1.0         0.0
23   2022-1            18            8        0.0         0.0
24   2022-2            49           14        0.0         0.0
25   2022-3            77           14        0.0         0.0
26   2022-4            50           12        0.0         0.0
27   2022-5            43            6        1.0         0.0
28   2022-6            42            7        0.0         1.0
29   2022-7            56           11        1.0         1.0
30   2022-8            82           25        0.0         0.0
31   2022-9           149           27        1.0         2.0
32  2022-10            82           18        1.0         1.0
33  2022-11           115           19        0.0         0.0
34  2022-12           147           12        0.0         1.0
35   2023-1            25           10        0.0         0.0
36   2023-2            73            8        0.0         0.0

In [363]:
def do_all_counts(df):
    
    df_grpd_covid=date_in_one_column(get_covid_tweet_counts(df))

    df_grpd_total=date_in_one_column(get_total_tweet_count(df))

    df_merged=merge_to_total(df_grpd_total,df_grpd_covid)



    df_grpd_flu=date_in_one_column(get_flu_tweet_counts(df))

    df_merged=merge_to_total(df_merged,df_grpd_flu)
                               

    df_grpd_mpox=date_in_one_column(get_mpox_tweet_counts(df))


    df_merged=merge_to_total(df_merged,df_grpd_mpox)
    
    return df_merged

In [350]:
df_ECDC_EU_clean
df_Africa_CDC_clean
df_pfizer_clean
df_EMA_clean
df_cdc_clean
df_who_clean

In [368]:
df_all_counts_pfizer=do_all_counts(df_pfizer_clean)

In [367]:
df_all_counts_EMA=do_all_counts(df_EMA_clean)

In [370]:
df_all_counts_cdc=do_all_counts(df_cdc_clean)

In [372]:
df_all_counts_who=do_all_counts(df_who_clean)

In [378]:
df_all_counts_ECDC_EU=do_all_counts(df_ECDC_EU_clean)

In [380]:
df_all_counts_Africa_CDC=do_all_counts(df_Africa_CDC_clean)

In [379]:
df_all_counts_pfizer
df_all_counts_EMA
df_all_counts_who
df_all_counts_Africa_CDC
df_all_counts_ECDC_EU
df_all_counts_cdc

       date  total_tweets  covid_count  flu_count  mpox_count
0    2020-2           101         28.0        4.0         0.0
1    2020-3           198         69.0        0.0         0.0
2    2020-4            82         59.0        0.0         0.0
3    2020-5            88         58.0        1.0         0.0
4    2020-6            65         41.0        0.0         0.0
5    2020-7            57         42.0        0.0         0.0
6    2020-8            54         41.0        0.0         0.0
7    2020-9            64         48.0        0.0         0.0
8   2020-10           117         53.0        2.0         0.0
9   2020-11            70         54.0        1.0         0.0
10  2020-12            83         52.0        0.0         0.0
11   2021-1            27         18.0        0.0         0.0
12   2021-2            82         25.0        0.0         0.0
13   2021-3            58         22.0        0.0         0.0
14   2021-4            62         38.0        0.0         0.0
15   2021-5            78         33.0        1.0         0.0
16   2021-6            88         43.0        0.0         0.0
17   2021-7            91         43.0        2.0         0.0
18   2021-8            81         34.0        0.0         0.0
19   2021-9            61         28.0        0.0         0.0
20  2021-10            54         26.0       16.0         0.0
21  2021-11            88         48.0        1.0         0.0
22  2021-12            48         35.0        0.0         0.0
23   2022-1            38         18.0        1.0         0.0
24   2022-2            38         23.0        1.0         0.0
25   2022-3            60         20.0        2.0         0.0
26   2022-4            56         13.0        2.0         0.0
27   2022-5            47         14.0        0.0         6.0
28   2022-6            51         18.0        0.0        15.0
29   2022-7            68         27.0        3.0        10.0
30   2022-8            26          0.0        0.0         4.0
31   2022-9            20          3.0        0.0         1.0
32  2022-10            29          5.0        4.0         1.0
33  2022-11            25          2.0        0.0         1.0
34  2022-12            29          4.0        4.0         1.0
35   2023-1            17          6.0        1.0         0.0
36   2023-2            23          2.0        2.0         0.0

In [382]:
def add_percentages(df):
    df["covid_percentage"]=df["covid_count"]/df["total_tweets"]
    df["flu_percentage"]=df["flu_count"]/df["total_tweets"]
    df["mpox_percentage"]=df["mpox_count"]/df["total_tweets"]
    return df

In [383]:
organisations=[df_all_counts_pfizer,
df_all_counts_EMA,
df_all_counts_who,
df_all_counts_Africa_CDC,
df_all_counts_ECDC_EU,
df_all_counts_cdc]

In [386]:
#for df in organisations:
   # df.apply(add_percentages, axis=1)

In [388]:
add_percentages(df_all_counts_pfizer)

,date,total_tweets,covid_count,flu_count,mpox_count,covid_percentage,flu_percentage,mpox_percentage
0,2020-2,54,0.0,0.0,0.0,0.000000,0.000000,0.0
1,2020-3,63,29.0,0.0,0.0,0.460317,0.000000,0.0
2,2020-4,67,26.0,1.0,0.0,0.388060,0.014925,0.0
3,2020-5,96,31.0,0.0,0.0,0.322917,0.000000,0.0
4,2020-6,74,15.0,0.0,0.0,0.202703,0.000000,0.0
5,2020-7,68,25.0,1.0,0.0,0.367647,0.014706,0.0
6,2020-8,50,15.0,1.0,0.0,0.300000,0.020000,0.0
7,2020-9,129,28.0,0.0,0.0,0.217054,0.000000,0.0
8,2020-10,122,16.0,1.0,0.0,0.131148,0.008197,0.0
9,2020-11,81,25.0,0.0,0.0,0.308642,0.000000,0.0
10,2020-12,40,12.0,1.0,0.0,0.300000,0.025000,0.0
11,2021-1,40,9.0,0.0,0.0,0.225000,0.000000,0.0
12,2021-2,60,21.0,0.0,0.0,0.350000,0.000000,0.0
13,2021-3,60,25.0,0.0,0.0,0.416667,0.000000,0.0
14,2021-4,60,15.0,0.0,0.0,0.250000,0.000000,0.0
15,2021-5,54,17.0,0.0,0.0,0.314815,0.000000,0.0
16,2021-6,41,9.0,0.0,0.0,0.219512,0.000000,0.0
17,2021-7,42,11.0,2.0,0.0,0.261905,0.047619,0.0
18,2021-8,22,4.0,0.0,0.0,0.181818,0.000000,0.0
19,2021-9,71,11.0,1.0,0.0,0.154930,0.014085,0.0
20,2021-10,59,18.0,0.0,0.0,0.305085,0.000000,0.0
21,2021-11,66,17.0,1.0,0.0,0.257576,0.015152,0.0
22,2021-12,45,11.0,0.0,0.0,0.244444,0.000000,0.0
23,2022-1,32,9.0,0.0,0.0,0.281250,0.000000,0.0
24,2022-2,33,6.0,0.0,0.0,0.181818,0.000000,0.0
25,2022-3,27,7.0,0.0,0.0,0.259259,0.000000,0.0
26,2022-4,22,8.0,0.0,0.0,0.363636,0.000000,0.0
27,2022-5,38,8.0,0.0,0.0,0.210526,0.000000,0.0
28,2022-6,40,9.0,0.0,0.0,0.225000,0.000000,0.0
29,2022-7,20,5.0,0.0,0.0,0.250000,0.000000,0.0
30,2022-8,23,12.0,0.0,0.0,0.521739,0.000000,0.0
31,2022-9,40,6.0,1.0,0.0,0.150000,0.025000,0.0
32,2022-10,54,4.0,0.0,0.0,0.074074,0.000000,0.0
33,2022-11,41,9.0,3.0,0.0,0.219512,0.073171,0.0
34,2022-12,48,7.0,1.0,0.0,0.145833,0.020833,0.0
35,2023-1,12,2.0,0.0,0.0,0.166667,0.000000,0.0
36,2023-2,17,1.0,0.0,0.0,0.058824,0.000000,0.0

In [389]:
add_percentages(df_all_counts_EMA)
add_percentages(df_all_counts_who)
add_percentages(df_all_counts_Africa_CDC)
add_percentages(df_all_counts_ECDC_EU)
add_percentages(df_all_counts_cdc)

,date,total_tweets,covid_count,flu_count,mpox_count,covid_percentage,flu_percentage,mpox_percentage
0,2020-2,176,39,17.0,0.0,0.221591,0.096591,0.000000
1,2020-3,159,125,5.0,0.0,0.786164,0.031447,0.000000
2,2020-4,173,150,6.0,0.0,0.867052,0.034682,0.000000
3,2020-5,164,133,8.0,0.0,0.810976,0.048780,0.000000
4,2020-6,160,116,1.0,0.0,0.725000,0.006250,0.000000
5,2020-7,181,125,2.0,0.0,0.690608,0.011050,0.000000
6,2020-8,189,110,12.0,0.0,0.582011,0.063492,0.000000
7,2020-9,184,106,17.0,0.0,0.576087,0.092391,0.000000
8,2020-10,218,121,28.0,0.0,0.555046,0.128440,0.000000
9,2020-11,188,111,14.0,0.0,0.590426,0.074468,0.000000
10,2020-12,210,170,20.0,0.0,0.809524,0.095238,0.000000
11,2021-1,184,146,11.0,0.0,0.793478,0.059783,0.000000
12,2021-2,188,141,10.0,0.0,0.750000,0.053191,0.000000
13,2021-3,240,200,4.0,0.0,0.833333,0.016667,0.000000
14,2021-4,229,187,3.0,0.0,0.816594,0.013100,0.000000
15,2021-5,197,141,0.0,0.0,0.715736,0.000000,0.000000
16,2021-6,203,143,2.0,0.0,0.704433,0.009852,0.000000
17,2021-7,191,133,2.0,0.0,0.696335,0.010471,0.000000
18,2021-8,205,155,3.0,0.0,0.756098,0.014634,0.000000
19,2021-9,217,160,2.0,0.0,0.737327,0.009217,0.000000
20,2021-10,195,137,18.0,0.0,0.702564,0.092308,0.000000
21,2021-11,191,141,16.0,0.0,0.738220,0.083770,0.000000
22,2021-12,237,177,19.0,0.0,0.746835,0.080169,0.000000
23,2022-1,140,92,12.0,0.0,0.657143,0.085714,0.000000
24,2022-2,153,107,13.0,0.0,0.699346,0.084967,0.000000
25,2022-3,177,101,17.0,0.0,0.570621,0.096045,0.000000
26,2022-4,147,70,16.0,0.0,0.476190,0.108844,0.000000
27,2022-5,173,55,9.0,5.0,0.317919,0.052023,0.028902
28,2022-6,159,72,11.0,16.0,0.452830,0.069182,0.100629
29,2022-7,140,57,4.0,28.0,0.407143,0.028571,0.200000
30,2022-8,174,54,5.0,54.0,0.310345,0.028736,0.310345
31,2022-9,196,39,4.0,61.0,0.198980,0.020408,0.311224
32,2022-10,162,35,10.0,24.0,0.216049,0.061728,0.148148
33,2022-11,161,27,11.0,24.0,0.167702,0.068323,0.149068
34,2022-12,142,48,18.0,18.0,0.338028,0.126761,0.126761
35,2023-1,118,34,15.0,11.0,0.288136,0.127119,0.093220
36,2023-2,98,28,10.0,1.0,0.285714,0.102041,0.010204

In [390]:
df_all_counts_who

,date,total_tweets,covid_count,flu_count,mpox_count,covid_percentage,flu_percentage,mpox_percentage
0,2020-2,653,319,7.0,0.0,0.488515,0.010720,0.000000
1,2020-3,771,602,30.0,0.0,0.780804,0.038911,0.000000
2,2020-4,917,699,9.0,0.0,0.762268,0.009815,0.000000
3,2020-5,936,549,7.0,0.0,0.586538,0.007479,0.000000
4,2020-6,685,445,14.0,0.0,0.649635,0.020438,0.000000
5,2020-7,604,404,7.0,0.0,0.668874,0.011589,0.000000
6,2020-8,614,404,5.0,0.0,0.657980,0.008143,0.000000
7,2020-9,673,385,2.0,0.0,0.572065,0.002972,0.000000
8,2020-10,767,441,15.0,0.0,0.574967,0.019557,0.000000
9,2020-11,782,348,6.0,0.0,0.445013,0.007673,0.000000
10,2020-12,588,333,1.0,0.0,0.566327,0.001701,0.000000
11,2021-1,555,309,4.0,0.0,0.556757,0.007207,0.000000
12,2021-2,588,339,4.0,0.0,0.576531,0.006803,0.000000
13,2021-3,647,344,4.0,0.0,0.531685,0.006182,0.000000
14,2021-4,602,302,5.0,0.0,0.501661,0.008306,0.000000
15,2021-5,883,297,9.0,0.0,0.336353,0.010193,0.000000
16,2021-6,508,199,0.0,0.0,0.391732,0.000000,0.000000
17,2021-7,521,197,2.0,0.0,0.378119,0.003839,0.000000
18,2021-8,408,155,2.0,0.0,0.379902,0.004902,0.000000
19,2021-9,537,130,2.0,0.0,0.242086,0.003724,0.000000
20,2021-10,602,164,1.0,0.0,0.272425,0.001661,0.000000
21,2021-11,560,181,8.0,0.0,0.323214,0.014286,0.000000
22,2021-12,649,282,1.0,0.0,0.434515,0.001541,0.000000
23,2022-1,400,149,6.0,0.0,0.372500,0.015000,0.000000
24,2022-2,402,140,17.0,0.0,0.348259,0.042289,0.000000
25,2022-3,448,139,4.0,0.0,0.310268,0.008929,0.000000
26,2022-4,295,65,16.0,1.0,0.220339,0.054237,0.003390
27,2022-5,567,78,2.0,22.0,0.137566,0.003527,0.038801
28,2022-6,367,68,2.0,67.0,0.185286,0.005450,0.182561
29,2022-7,319,76,2.0,76.0,0.238245,0.006270,0.238245
30,2022-8,313,46,5.0,41.0,0.146965,0.015974,0.130990
31,2022-9,296,83,7.0,10.0,0.280405,0.023649,0.033784
32,2022-10,347,40,8.0,12.0,0.115274,0.023055,0.034582
33,2022-11,393,27,5.0,8.0,0.068702,0.012723,0.020356
34,2022-12,233,32,1.0,14.0,0.137339,0.004292,0.060086
35,2023-1,339,78,4.0,4.0,0.230088,0.011799,0.011799
36,2023-2,231,25,2.0,11.0,0.108225,0.008658,0.047619

In [387]:
df_all_counts_EMA

       date  total_tweets  covid_count  flu_count  mpox_count
0    2020-2            15          0.0        0.0         0.0
1    2020-3            24         15.0        1.0         0.0
2    2020-4            25         18.0        0.0         0.0
3    2020-5            19         14.0        0.0         0.0
4    2020-6            21         12.0        0.0         0.0
5    2020-7            19          9.0        0.0         0.0
6    2020-8             6          0.0        0.0         0.0
7    2020-9            18          3.0        0.0         0.0
8   2020-10            35         11.0        0.0         0.0
9   2020-11            27          8.0        1.0         0.0
10  2020-12            53         36.0        0.0         0.0
11   2021-1            57         39.0        0.0         0.0
12   2021-2            22         17.0        0.0         0.0
13   2021-3            47         42.0        0.0         0.0
14   2021-4            54         29.0        0.0         0.0
15   2021-5            35         21.0        1.0         0.0
16   2021-6            42         22.0        0.0         0.0
17   2021-7            57         35.0        0.0         0.0
18   2021-8            13          7.0        0.0         0.0
19   2021-9            38         25.0        0.0         0.0
20  2021-10            61         37.0        1.0         0.0
21  2021-11            80         52.0        1.0         0.0
22  2021-12            58         41.0        0.0         0.0
23   2022-1            58         30.0        1.0         0.0
24   2022-2            49         27.0        0.0         0.0
25   2022-3            47         28.0        0.0         0.0
26   2022-4            28          7.0        0.0         0.0
27   2022-5            38         22.0        0.0         0.0
28   2022-6            54         24.0        0.0         8.0
29   2022-7            49         15.0        1.0         8.0
30   2022-8             7          1.0        0.0         1.0
31   2022-9            63         27.0        0.0         8.0
32  2022-10            30         15.0        1.0         1.0
33  2022-11            61         20.0        1.0         1.0
34  2022-12            33         12.0        4.0         0.0
35   2023-1            11          0.0        0.0         0.0
36   2023-2            27          7.0        0.0         1.0

## Plotting